<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= render 'menu' %>
<div style="margin-top: 30px;margin-bottom: -50px; margin-left: 10px;width:500px;"><h3>Aceptar/Devolver</h3></div>
<div style="text-align: right; height: 45px; margin-top: 12px; font-size: 15px">
<br/><br/><br/><center>
		La especificación técnica fue <strong>aceptada</strong>.</center>
               </div>
      



