<!DOCTYPE html>
<html>
  <body>
    <h1>Advertencia.</h1>
    <p>
      La sustancia química <%= @sustancia.name %>,
      se encuentra por debajo de los valores mínimos<br>
      requeridos en el inventario.<br><br>
    </p>
    <p>Gracias y verifique el sistema lo antes posible.</p>
  </body>
</html>